*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}
.header{
    display: flex;
    gap: 5px;
}
.home, .about {
    background: #3298F2;
    flex-grow: 1;
    height: 300px;

}
.kabobs{
    background: #3298F2;
    height: 200px;
    margin: 5px;
}
.items{
    display: flex;
    gap: 5px;
}
.item{
    flex-grow: 1;
    background: #0f2ab0;
    height: 300px;
}
