* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.j-content-s-a {
    justify-content: space-around;
}

.j-content-center {
    justify-content: center;
}

.a-items-center {
    align-items: center;
}

.f-direction-column {
    flex-direction: column;
}

.m-0-auto {
    margin: 0 auto;
}

.f-grow-1 {
    flex-grow: 1;
}

.t-align {
    text-align: center;
}

.header {
    background: url("./image/HERO IMG.png") no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 50px;
}

.header_top__nav {
    column-gap: 20px;
    height: 50px;
    padding-right: 20px;
}

.header_top__nav___border-right {
    background: white;
    height: 100%;
    width: 2px;
}

.header_top__nav img {
    width: 20px;
    height: 20px;
}

.header_top__nav a {
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: white;
    text-decoration: none;
}

.header_top__phone {
    column-gap: 45px;

}

.header_top__phone___num {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: white;
    width: 153px;
}

.header_top__phone___num p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.header_top__phone___num img {
    padding-right: 5px;
}

.header_top__phone button {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: white;
    background: #FF7400;
    width: 157px;
    height: 47px;
    border: none;
    cursor: pointer;
}

.header_title {
    margin-top: 143px;
    margin-left: -600px;

}

.header_title h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
}

.header_title h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
    color: #D67E35;
}

.header_title p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.header_title button {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    width: 137px;
    height: 47px;
    border: none;
    cursor: pointer;
    background: #FF7400;
    margin-top: 20px;
}

.history-block {
    background: white;
    position: relative;
    height: 400px;
}

.description-items {
    /*position: absolute;*/
    column-gap: 50px;
    /*margin-top: -70px;*/
    /*left: 200px;*/
    /*top: -100px;*/
}

.description-items_item {
    margin-top: -70px;
    background: white;
    width: 349px;
    height: 328px;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.description-items_item h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;

}

.description-items_item h3 span {
    color: #FF7400;
}

.description-items_item p {
    padding-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #656363;
}


.history-block_description {
    padding-top: 150px;
    background: white;
    height: 550px;

}

.history-block_description__text {
    width: 444px;
    background: white;
    margin-top: -125px;

}

.history-block_description__text h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    padding-bottom: 21px;
}

.history-block_description__text h2 span {
    color: #FF7400;

}

.history-block_description__text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #656363;
    margin-bottom: 39px;

}

.history-block_photo {
    width: 50%;
}

.eat-drink-snack {
    /*column-gap: 20px;*/
    width: 100%;
}

.eat-drink-snack h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    text-align: center;

    color: #BC9060;
}

.eat-drink-snack p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.history-block_photo {
    position: relative;
}

.history-block_photo img {
    position: absolute;
}

.history-block_photo img {
    right: 0;
    top: -201px;
}

.to-celebrate {
    background: url("./image/bg.png") no-repeat;
    background-size: cover;
    height: 357px;
}

.to-celebrate_text {
    width: 610px;
}

.to-celebrate_text h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;
    color: #D67E34;
}

.to-celebrate_text p {
    font-style: normal;
    padding-top: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.to-celebrate button {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    width: 157px;
    height: 47px;
    background: #FF7400;
    cursor: pointer;
    border: none;
}

.product-items {
    padding-bottom: 150px;
}

.product-items h2 {
    font-style: normal;
    padding-top: 132px;
    padding-bottom: 139px;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
}

.product-items h2 span {
    color: #FF7400;

}

.product-items_box {
    column-gap: 20px;

}

.product-items_box__burgers {
    row-gap: 27px;
}

.product-items_box__burgers__item p {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
}

.menu {
    background: url("./image/bar-1869656_1920 2.png") no-repeat;
    background-size: cover;
    height: 1034px;
}

.menu h2 {
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    padding-top: 98px;
}

.menu_burger {
    column-gap: 20px;
    padding-top: 136px;
}

.menu_burger__item {
    height: 510px;
    width: 350px;
    background: white;
}

.menu_burger__item h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    padding-top: 78px;

}

.menu_burger__item p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #000000;
    padding-top: 17px;
    padding-bottom: 20px;

}

.menu_burger__item button {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    width: 220px;
    height: 50px;
    background: #D67E34;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-bottom: -29px;
}

.menu_burger__item___ellipse {
    margin-top: -109px;
    margin-left: 128px;
}

.menu_burger__item span {
    margin-top: -65px;
    margin-left: 130px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
}

.comment {
    background: #E5E5E5;
    height: 550px;
}

.comment p {
    width: 920px;
    padding-top: 179px;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;

}

.comment img {
    height: 100px;
    width: 100px;
    margin: 20px 0;

}

.worker {
    margin-top: 100px;
}

.worker h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    padding-bottom: 100px;
}

.worker h2 span {
    color: #D67E34;
}

.worker_photo {
    column-gap: 25px;
    padding-bottom: 100px;
}

.footer {
    background: url("./image/street.png") no-repeat;
    background-size: cover;
    height: 650px;
}

.d-none {
    display: none;
}

@media screen and (max-width: 400px) {
    .header {
        background: url("./image/HERO IMG.png") center;
        /*background-size: cover;*/
        /*height: 100vh;*/
        /*padding-top: 50px;*/
    }

    .header_top__nav {
        display: none;
    }

    .header_top {
        column-gap: 5px;
        height: 25px;
        justify-content: space-between;
    }

    .header_top .logo img {
        height: 25px;
        margin-left: 20px;

    }

    .iphone_logo {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        margin-right: 20px;
    }

    .header_title {
        text-align: center;
        margin-left: 0;
        margin-top: 296px;
    }

    .header_title h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 34px;
        padding-bottom: 10px;
    }

    .header_title h1 {
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 46px;
        padding-bottom: 20px;

    }

    .header_title p {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;

    }


    .description-items {
        row-gap: 89px;
        align-items: center;
        margin-top: -133px;
    }

    .history-block_description {
        /*display: none;*/
        flex-direction: column;
        padding-top: 867px;
    }

    .history-block_description__text {
        width: 345px;
        background: white;
        margin-top: 89px;
        margin-left: 10px;
        margin-right: 5px;
    }

    .history-block_description__text h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }

    .history-block_description__text p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        /*width: 370px;*/
    }

    .eat-drink-snack {
        flex-direction: column;
    }

    .history-block_photo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .history-block_photo img {
        width: 330px;
        right: -156px;
        top: 0;
    }

    .to-celebrate {
        flex-direction: column;
        margin-top: 686px;
    }

    .to-celebrate_text {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 34px;
        text-align: center;
        width: 250px;
    }

    .to-celebrate_text h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
    }

    .to-celebrate_text p {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
    }

    .product-items {
        /*display: none;*/
    }
    .product-items_box__burgers{
        margin: 50px 5px;
        row-gap: 50px;
    }
    .desktop_text{
        display: none;
    }
    .iphone_text{
        display: block;
    }
    .product-items_box {
    flex-direction: column;
    }


    .description-items {
        flex-direction: column;
    }


    .birger-one, .birger-two{
        display: none;
    }


    .comment p {
        /*display: none;*/
        width: 343px;
        padding-top: 48px;
        font-style: italic;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
    }

    .gallery-menu {
        display: none;
    }

    .worker {
        /*display: none;*/
        margin-right:15px;
        margin-left: 15px;
    }
    .worker_photo{
        flex-direction: column;
        row-gap: 15px;
    }

    .footer {
        background: url('./image/street.png') no-repeat center;
        background-size: cover;
    }

}


















