*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
}
.h-50{
    height: 50px;
}
.h-400{
    height: 400px;

}
.header{
    background: #3298F2;
}
.nav{
    background: #04114f;
}
.container{
    display: flex;
}
.main{
    flex-grow: 3;
    background: #6be27a;
}
.aside{
    flex-grow: 1;
    background: #512666;

}
.footer{
    background: #0883f0;
    height: 50px;
}

