
.d-flex{
    display: flex;
}
.t-align{
    text-align: center;
}
.h-300{
    height: 300px;
}
.wrapper{
    margin-top: 10px;
}
.a{
    height: 150px;
    background: #3298F2;
}
.b{
    background: #6be26b;
    flex-grow:2;
    margin-right: 10px;
}
.c{
    background: #292929;
    flex-grow:1;
}