* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@1&display=swap');
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightslategrey;
    border-bottom: 2px solid black;
}

.header h1 {
    font-size: 60px;
}

.header button {
    margin: 15px;
    padding: 10px;
    border: none;
    border-radius: 12px;
}

.header button:hover {
    background: darkgray;
    color: white;
}

.header img {
    margin-left: 10px;
}

.container {
    background: lightslategrey;
}

.container p {
    font-size: 30px;
    color: black;
    font-family: 'Andada Pro', serif;
    padding: 25px;
}

.skils {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    border-bottom: 2px solid black;

}

.skils p {
    /*justify-content: center;*/
    color: white;
    padding: 5px;
    text-align: center;
}

.items {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    background: lightslategrey;
    justify-content: space-around;
    flex-wrap: wrap;

    padding-bottom: 25px;
}
.footer div ul li{
    list-style-type: none;
    font-size: 20px;
}
.footer div ul li img{
    height: 20px;
    margin-right: 15px;
}
.footer div p{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
}
